src/main/resources/textKernal.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://home.textkernel.nl/sourcebox/soap/documentProcessor" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://home.textkernel.nl/sourcebox/soap/documentProcessor" name="ProcessDocumentImplService">
    <wsp:Policy wsu:Id="ProcessDocumentImplPortBinding_MTOM_Policy">
        <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    </wsp:Policy>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://home.textkernel.nl/sourcebox/soap/documentProcessor" schemaLocation="https://home.textkernel.nl:443/sourcebox/soap/documentProcessor?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="processDocument">
        <part name="parameters" element="tns:processDocument"/>
    </message>
    <message name="processDocumentResponse">
        <part name="parameters" element="tns:processDocumentResponse"/>
    </message>
    <message name="ProcessDocumentException">
        <part name="fault" element="tns:ProcessDocumentException"/>
    </message>
    <message name="processDocumentAdvanced">
        <part name="parameters" element="tns:processDocumentAdvanced"/>
    </message>
    <message name="processDocumentAdvancedResponse">
        <part name="parameters" element="tns:processDocumentAdvancedResponse"/>
    </message>
    <message name="processURLAtomic">
        <part name="parameters" element="tns:processURLAtomic"/>
    </message>
    <message name="processURLAtomicResponse">
        <part name="parameters" element="tns:processURLAtomicResponse"/>
    </message>
    <portType name="ProcessDocumentInterface">
        <operation name="processDocument">
            <input wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processDocumentRequest" message="tns:processDocument"/>
            <output wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processDocumentResponse" message="tns:processDocumentResponse"/>
            <fault message="tns:ProcessDocumentException" name="ProcessDocumentException" wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processDocument/Fault/ProcessDocumentException"/>
        </operation>
        <operation name="processDocumentAdvanced">
            <input wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processDocumentAdvancedRequest" message="tns:processDocumentAdvanced"/>
            <output wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processDocumentAdvancedResponse" message="tns:processDocumentAdvancedResponse"/>
            <fault message="tns:ProcessDocumentException" name="ProcessDocumentException" wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processDocumentAdvanced/Fault/ProcessDocumentException"/>
        </operation>
        <operation name="processURLAtomic">
            <input wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processURLAtomicRequest" message="tns:processURLAtomic"/>
            <output wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processURLAtomicResponse" message="tns:processURLAtomicResponse"/>
            <fault message="tns:ProcessDocumentException" name="ProcessDocumentException" wsam:Action="http://home.textkernel.nl/sourcebox/soap/documentProcessor/ProcessDocumentInterface/processURLAtomic/Fault/ProcessDocumentException"/>
        </operation>
    </portType>
    <binding name="ProcessDocumentImplPortBinding" type="tns:ProcessDocumentInterface">
        <wsp:PolicyReference URI="#ProcessDocumentImplPortBinding_MTOM_Policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="processDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessDocumentException">
                <soap:fault name="ProcessDocumentException" use="literal"/>
            </fault>
        </operation>
        <operation name="processDocumentAdvanced">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessDocumentException">
                <soap:fault name="ProcessDocumentException" use="literal"/>
            </fault>
        </operation>
        <operation name="processURLAtomic">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessDocumentException">
                <soap:fault name="ProcessDocumentException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="ProcessDocumentImplService">
        <port name="ProcessDocumentImplPort" binding="tns:ProcessDocumentImplPortBinding">
            <soap:address location="https://home.textkernel.nl:443/sourcebox/soap/documentProcessor"/>
        </port>
    </service>
</definitions>